.address__wrapper {
  width: 320px;
  background-color: $color-bg-white;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 400px;
  }
}

.address__wrapper--form {
  background-color: $color-bg-gray;
}

.address__wrapper-container {
  width: 280px;
  min-height: 60px;
  padding: 26px 20px;
  display: grid;
  grid-template-columns: 139px 139px;
  background: $color-bg-gray;

  @media (min-width: $tablet-width) {
    width: 628px;
    min-height: 87px;
    padding: 56px 70px;
    display: grid;
    grid-template-columns: 172px 160px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 407px;
    min-height: 82px;
    margin: 0;
    padding: 60px 74px 60px 85px;
    position: absolute;
    z-index: 1;
    background-color: $color-bg-white;
    transform: translate(105px, 94px);
  }
}

.address__title {
  @include reset;
  font-family: $oswald400;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-title1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.address__description {
  @include reset;
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: $color-desc;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;

    &:first-child {
      margin-bottom: 10px;

      @media (min-width: $tablet-width) {
        margin-bottom: 15px;
      }
    }
  }
}

.address__map {
  width: 320px;
  height: 362px;
  background-image: url("../img/jpg/background-map-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
    background-image: url("../img/jpg/background-map-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    background-image: url("../img/jpg/background-map-desktop.jpg");
  }
}

.address__invitation {
  @media (min-width: $tablet-width) {
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}
