.address__wrapper {
  width: 320px;
  background-color: $color-bg-white;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 400px;
  }
}

.address__wrapper--form {
  background-color: $color-bg-gray;
}

.address__wrapper-container {
  width: 280px;
  margin: 0 auto;
  min-height: 112px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    background-color: $color-bg-gray;
    width: 768px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    min-height: 198px;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    background-color: $color-bg-white;
    transform: translate(68px, 73px);
  }
}

.address__title {
  font-family: $oswald400;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-title1;
}

.address__description {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: $color-desc;
}

.address__map {
  width: 320px;
  background-color: $color-bg-white;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}
