.address__wrapper {
  width: 320px;
  background-color: $color-bg-white;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 400px;
  }
}

.address__wrapper--form {
  background-color: $color-bg-gray;
}

.address__wrapper-container {
  width: 280px;
  min-height: 60px;
  padding: 26px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 628px;
    min-height: 87px;
    padding: 56px 70px;
    display: grid;
    grid-template-columns: 172px 160px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 425px;
    min-height: 86px;
    margin: 0;
    padding: 56px 60px 56px 80px;
    position: absolute;
    z-index: 1;
    background-color: $color-bg-white;
    transform: translate(68px, 73px);
  }
}

.address__title {
  font-family: $oswald400;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-title1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.address__description {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: $color-desc;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;

    &:first-child {
      margin-bottom: 10px;
    }
  }
}

.address__map {
  width: 320px;
  background-color: $color-bg-white;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}
