.button {
  font-family: $oswald400;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  color: $color-bg-white;
  background-color: $color-bg-green;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: $color-hv-green;
  }

  &:focus {
    background-color: $color-hv-green;
  }

  &:active {
    background-color: $color-hv-green;
    color: rgba(255, 255, 255, 0.3);
  }
}
