.catalog-more {
  grid-column: 1 / -1;
}

.catalog-more__wrapper {
  position: relative;
  padding-top: 35px;

  @media (min-width: $tablet-width) {
    display: grid;
    justify-items: center;
    min-height: 390px;
    align-items: center;
  }
}

.catalog-more__title {
  @include title;
  font-family: $oswald400;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: $color-title1;

  @media (min-width: $tablet-width) {
    width: 170px;
    font-size: 20px;
    line-height: 22px;
  }
}

.catalog-more__about {
  @include title;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 21px;
  color: $color-desc;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.catalog-more__button {
  justify-self: stretch;
  color: $color-desc;
  background-color: $color-bg-gray;
}

.catalog-more__cross {
  display: block;
  transform: translate(120px, -32px);

  @media (min-width: $tablet-width) {
    transform: translate(-27px, 13px);
  }

  &::before,
  &::after {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: $color-border-list4;
    content: "";

    @media (min-width: $tablet-width) {
      width: 60px;
    }
  }

  &::after {
    transform: rotate(90deg);
  }
}
