.catalog-prize__wrapper {
  width: 280px;
  min-height: 289px;
  margin: 0 auto;
  background-color: rgba(104, 183, 56, 0.85);

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 245px;
    height: 288px;
    transform: translate(1100px, -373px);
  }
}

.catalog-prize__title {
  @include title;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $color-default-white;
}
