.description__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;

    &::after {
      position: absolute;
      width: 768px;
      height: 1px;
      transform: translateX(-30px);
      background: $color-border-list;
      content: "";

      @media (min-width: $desktop-width) {
        display: none;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.description__title {
  @include title;
  font-family: $oswald400;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  margin-bottom: 40px;
  color: $color-default-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}

.description__list {
  @include list-reset;
  display: grid;
  grid-gap: 20px;
  font-size: 14px;
  line-height: 18px;
  color: $color-desc;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 153px;
    row-gap: 37px;
    margin-bottom: 47px;
    counter-reset: verse 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 230px);
    grid-gap: 94px;
  }
}

.description__item {
  display: grid;
  grid-template-columns: 60px auto;
  grid-gap: 20px;

  @media (min-width: $tablet-width) {
    counter-increment: verse 1;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    gap: 0;
  }
}

.description__item--leaf {
  &::before {
    display: block;
    width: 60px;
    height: 60px;
    background-image: url("../img/png/leaf.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: $color-bg-green;
    content: "";

    @media (min-width: $tablet-width) {
      margin-bottom: 31px;
      width: 80px;
      height: 80px;
    }
  }
}

.description__item--water {
  &::before {
    display: block;
    width: 60px;
    height: 60px;
    background-image: url("../img/png/water.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: $color-bg-green;
    content: "";

    @media (min-width: $tablet-width) {
      margin-bottom: 31px;
      width: 80px;
      height: 80px;
    }
  }
}

.description__item--tableware {
  &::before {
    display: block;
    width: 60px;
    height: 60px;
    background-image: url("../img/png/tableware.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: $color-bg-green;
    content: "";

    @media (min-width: $tablet-width) {
      margin-bottom: 31px;
      width: 80px;
      height: 80px;
    }
  }
}

.description__item--clock {
  &::before {
    display: block;
    width: 60px;
    height: 60px;
    background-image: url("../img/png/clock.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: $color-bg-green;
    content: "";

    @media (min-width: $tablet-width) {
      margin-bottom: 31px;
      width: 80px;
      height: 80px;
    }
  }
}

.description__about {
  @include reset;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 230px;
    font-size: 16px;
    line-height: 24px;

    &::after {
      position: absolute;
      display: block;
      width: 136px;
      font-family: $oswald400;
      font-size: 280px;
      line-height: 280px;
      color: rgb(242, 242, 242);
      transform: translate(9px, -222px);
      content: counter(verse);
      right: 0;
      z-index: -1;
    }
  }
}
