.example-wrapper {
  width: 320px;
  height: 660px;
  background-color: $color-bg-grey;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 1080px;
    margin: 0 auto;
    background-color: $color-default-white;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 1440px;
    height: 562px;
    margin-bottom: 35px;
  }
}

.example__container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin-bottom: 220px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    background-color: $color-bg-gray;
  }
}

.example__description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding: 0;
    row-gap: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 433px;
    padding: 45px 110px 75px;
    display: block;
    height: 317px;
  }
}

.example__title {
  @include title;
  font-family: $oswald400;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: $color-default-black;
  padding: 25px 25px 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 43px 0 63px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 75px;
    background-color: $color-bg-white;
  }
}

.example__about {
  grid-column: 1 / -1;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  color: $color-desc;

  @media (min-width: $tablet-width) {
    @include reset;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.example__results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 20px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 708px;
    grid-template-columns: 162px 162px 72px auto;
    column-gap: 42px;
    align-items: center;
    justify-items: end;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding-bottom: 75px;
    width: 366px;
    justify-items: start;
  }
}

.example__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 0;
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
  }
}

.example__term {
  padding: 15px 15px 7px;
  font-family: $oswald400;
  font-size: 24px;
  line-height: 24px;
  color: $color-default-black;

  @media (min-width: $tablet-width) {
    padding: 15px 15px 11px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__definition {
  margin: 0;
  width: 77px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  background-color: $color-bg-grey;

  @media (min-width: $tablet-width) {
    width: 120px;
    font-size: 14px;
    line-height: 14px;
    background-color: $color-bg-white;

    &--xl {
      width: 145px;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: $color-bg-gray;
  }
}

.example__count {
  @include title;
  grid-column: 1 / -1;
  font-family: $oswald400;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-default-black;

  @media (min-width: $tablet-width) {
    grid-column: 4 / 5;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.example__results-wrapper {
  display: flex;
  grid-column: 1 / -1;
  justify-content: center;
  gap: 5px;

  @media (min-width: $tablet-width) {
    grid-column: 4 / 5;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-top: 20px;
  }
}

.example__slider {
  width: 280px;
  background-color: $color-bg-grey;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 462px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
    width: 560px;
    height: 512px;
    transform: translate(-195px, 190px);
    background: none;
  }
}

.example__slider-item {
  @include reset;
  position: absolute;
  width: 280px;
  height: 256px;
  transform: translate(21px, -24px);

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 560px;
    height: 512px;
    transform: translate(104px, -149px);
  }

  @media (min-width: $desktop-width) {
    transform: translate(83px, -190px);
  }
}

.example__slider-image-xl {
  position: absolute;
  background: none;
  clip: rect(0 140px auto 0);

  @media (min-width: $tablet-width) {
    clip: rect(0 282px auto 0);
  }
}

.example__slider-image-xs {
  position: absolute;
  background: none;
  clip: rect(0 auto auto 140px);

  @media (min-width: $tablet-width) {
    clip: rect(0 auto auto 282px);
  }
}

.example__slider-bar {
  position: absolute;
  transform: translateX(138px);
  width: 4px;
  height: 256px;
  background-color: #666666;

  @media (min-width: $tablet-width) {
    height: 512px;
    transform: translateX(280px);
  }
}

.example__slider-toggle {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-image: url("../img/svg/thumb.svg");
  background-repeat: no-repeat;
  border: none;
  transform: translate(-18px, 105px);
  cursor: pointer;

  @media (min-width: $tablet-width) {
    transform: translate(-18px, 234px);
  }
}
