.extra-goods__wrapper {
  width: 280px;
  margin: 3px auto 35px;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 708px;
    margin: 0 auto 69px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-bottom: 90px;
  }
}

.extra-goods__title {
  @include title;
  position: relative;
  margin-bottom: 37px;
  font-family: $oswald400;
  text-align: left;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $color-default-black;

  &::after {
    position: absolute;
    transform: translate(21px, 15px);
    width: 53px;
    height: 2px;
    background-color: $color-bg-green;
    content: "";

    @media (min-width: $tablet-width) {
      position: absolute;
      transform: translate(-405px, 18px);
      width: 768px;
      height: 2px;
      background-color: #68b738;
      content: "";
      z-index: -1;

      @media (min-width: $desktop-width) {
        width: 1440px;
        margin-left: -40px;
        transform: translate(-407px, 20px);
      }
    }
  }

  @media (min-width: $tablet-width) {
    display: block;
    width: 340px;
    padding: 0 37px;
    margin-bottom: 75px;
    font-size: 36px;
    line-height: 36px;
    background-color: $color-default-white;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
    margin-left: -38px;
  }
}

.extra-goods__list {
  @include list-reset;
  display: grid;

  @media (min-width: $desktop-width) {
    width: 896px;
    min-height: 288px;
  }
}

.extra-goods__item {
  border-top: 1px solid $color-border-list4;
  padding: 10px 0 19px;

  &:last-child {
    border-bottom: 1px solid $color-border-list4;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 36px 28px;
    border: 1px solid $color-border-list4;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 610px 244px;
    column-gap: 40px;
    padding: 15px 0 15px;
    border: none;
    border-top: 1px solid $color-border-list4;
  }
}

.extra-goods__table {
  margin-bottom: 7px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.extra-goods__row {
  display: grid;
  grid-template-columns: 140px 140px;
  row-gap: 8px;
  color: $color-desc;

  @media (min-width: $tablet-width) {
    display: table-row;
    vertical-align: top;
  }

  @media (min-width: $desktop-width) {
    display: table-row;
    vertical-align: middle;
  }
}

.extra-goods__caption {
  grid-column: 1 / -1;
  font-family: $oswald400;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-title2;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
    font-size: 20px;
    line-height: 20px;
  }
}

.extra-goods__data {
  grid-column: 1 / 2;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    text-align: end;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $tablet-width) {
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.extra-goods__data-count {
  font-size: 14px;
  line-height: 14px;
  grid-column: 2 / 3;
  justify-self: end;

  @media (min-width: $tablet-width) {
    width: 80px;
    text-align: end;
    font-size: 16px;
    line-height: 20px;
  }
}

.extra-goods__button {
  width: 100%;
}
