.extra-goods__wrapper {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-bottom: 85px;
  }
}

.extra-goods__title {
  @include title;
  margin-bottom: 49px;
  font-family: $oswald400;
  text-align: left;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $color-default-black;

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.extra-goods__list {
  @include list-reset;
  display: grid;
}

.extra-goods__item {
  padding-bottom: 19px;
  padding-top: 13px;
  border-top: 1px solid $color-border-list4;

  &:last-child {
    border-bottom: 1px solid $color-border-list4;
  }
}

.extra-goods__table {
  width: 100%;
}

.extra-goods__caption {
  font-family: $oswald400;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-title2;
}

.extra-goods__row {
  font-size: 14px;
  line-height: 14px;
  color: $color-desc;
}
