.feedback-form {
  background-color: $color-bg-white;
  color: $color-default-black;
}

.feedback-form__container {
  width: 320px;
}

.feedback-form__wrapper {
  width: 280px;
  margin: 0 auto;
}

.feedback-form__title {
  @include title;
  font-family: $oswald400;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.feedback-form__about {
  @include title;
  font-family: $oswald400;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
