.feedback__container {
  background-color: $color-bg-white;
  color: $color-default-black;

  @media (min-width: $tablet-width) {
    width: 630px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.feedback__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    width: 630px;
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.feedback__title {
  @include title;
  margin-bottom: 37px;
  font-family: $oswald400;
  text-align: left;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  &::before {
    position: absolute;
    width: 320px;
    height: 1px;
    background: $color-border-list2;
    transform: translate(-20px, -27px);
    content: "";

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    font-size: 60px;
    line-height: 60px;
  }
}

.feedback__about {
  @include title;
  width: 226px;
  margin-bottom: 39px;
  font-family: $oswald400;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 323px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }
}

.feedback-form {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
  }
}
