.footer__container {
  max-width: 320px;
  min-height: 240px;
  margin: 0 auto;
  background-color: $color-bg-gray;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    min-height: 147px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    min-height: 169px;
  }
}

.footer__contacts-wrapper {
  width: 280px;
  margin: 0 auto;
}

.footer__social {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
