.footer {
  background-color: $color-bg-gray;
}

.footer__container {
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
  }
}

.footer__contacts-wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 47px 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 57px 30px;
  }
}

.footer__social {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
