.form-checkbox__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.form-checkbox__control {
  padding-right: 16px;
}
