.form__fieldset-blank {
  @include reset;
  border: none;

  @media (min-width: $tablet-width) {
    width: 630px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
    width: 569px;
  }
}

.form__fieldset-choice {
  @include reset;
  border: none;

  @media (min-width: $tablet-width) {
    width: 576px;
    margin: 0 auto;
    margin-bottom: 40px;
    border: 1px solid $color-border-list6;
    padding: 25px 27px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / -1;
    height: 150px;
    width: 517px;
    padding: 25px;
  }
}

.form__fieldset-data {
  @include reset;
  position: relative;
  border: none;
  z-index: 1;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-bottom: 46px;
    grid-column: 1 / -1;
  }
}

.form__fieldset-comment {
  @include reset;
  position: relative;
  border: none;
  z-index: 1;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    grid-column: 1 / -1;
  }
}

.form__fieldset-add {
  @include reset;
  position: relative;
  border: none;
  z-index: 1;

  @media (min-width: $desktop-width) {
    width: 1220px;
    grid-column: 1 / -1;
  }
}

.form__required {
  @include reset;
  margin-bottom: 32px;
  font-family: $lato400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 10px;
    font-size: 16px;
    line-height: 16px;
  }
}

.form__submit {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -3;
    display: flex;
    width: 1220px;
    gap: 80px;
    justify-content: flex-start;
    margin-bottom: 72px;
  }
}

.form__button {
  width: 280px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
  border: 0;

  @media (min-width: $tablet-width) {
    height: 52px;
    width: 280px;
    margin: 0;
    font-size: 20px;
    line-height: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    width: 569px;
  }
}
