.form-blank__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  width: 280px;
  gap: 14px;
  margin-bottom: 32px;
  font-family: $oswald400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-desc;

  @media (min-width: $tablet-width) {
    width: 630px;
    font-size: 20px;
    line-height: 30px;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 569px;
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    width: 320px;
    height: 1px;
    background: $color-border-list2;
    transform: translate(-20px, 10px);
    content: "";

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.form-blank__field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.form-blank__field-label {
  margin-right: 13px;
}

.form-blank__field-control {
  font-size: 16px;
  line-height: 18px;
  height: 45px;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    height: 52px;
  }
}
