.form-add {
  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.form-add__title {
  margin-bottom: 34px;
  font-family: $oswald400;
  font-size: 24px;
  line-height: 26px;
  color: $color-default-black;
}

.form-add__list {
  @include list-reset;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 12px;
  margin-bottom: 34px;
  font-family: $oswald400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-desc;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
