.header {
  font-family: $oswald400;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $color-default-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-family: $oswald400;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-family: $oswald400;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}

.header__container {
  margin: 0 auto;
  max-width: 320px;
  min-height: 65px;
  background-color: $color-bg-white;

  @media (min-width: $tablet-width) {
    padding-bottom: 62px;
    max-width: 768px;
    min-height: 52px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    padding: 54px 110px 74px;
    min-height: 60px;
    justify-content: space-between;
  }
}

.header__navigation-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 20px;

  @media (min-width: $tablet-width) {
    width: 174px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 202px;
    margin: 0;
    padding: 0;
  }
}

.header__navigation-icon:nth-child(2) {
  padding-left: 57px;

  @media (min-width: $tablet-width) {
    padding-left: 12px;
  }
}

.header__navigation-menu {
  position: relative;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-right: 30px;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
    min-height: 40px;
  }
}

.header__navigation-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  text-align: center;
}

//Открытое меню вне потока при включённом JavaScript\\
.header__navigation-menu--active .header__navigation-toggle {
  position: absolute;
  width: 24px;
  height: 20px;
  border: 0;
  top: -35px;
  right: 20px;
  display: block;
  background: url("../img/svg/nav_cross.svg");
  background-repeat: no-repeat;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__navigation-menu--inactive .header__navigation-toggle {
  position: absolute;
  width: 24px;
  height: 20px;
  border: 0;
  top: -35px;
  right: 20px;
  display: block;
  background: url("../img/svg/nav_hamburger.svg");
  background-repeat: no-repeat;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__navigation-menu--active .header__navigation-list {
  position: absolute;
  display: flex;
  background-color: $color-bg-white;
  width: 320px;
  animation: nav_animation 0.6s;

  @keyframes nav_animation {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

.header__navigation-menu--inactive .header__navigation-list {
  display: none;

  @media (min-width: $tablet-width) {
    @include list-reset;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-items: center;
    justify-content: space-around;
    column-gap: 10px;
  }
}

//Открытое меню в потоке при отключённом JavaScript\\
.header__navigation-menu--nojs .header__navigation-toggle {
  display: none;
}

.header__navigation-link {
  display: block;
  color: inherit;
  padding: 22px 20px 24px;
  border-top: 1px solid $color-border-list;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 18px 0 12px;
    border: none;

    &--checked::before {
      position: absolute;
      height: 2px;
      bottom: 1px;
      left: 0;
      right: 0;
      background-color: $color-bg-green;
      content: "";
    }
  }
}
