.header__container {
  margin: 0 auto;
  max-width: 320px;
  min-height: 65px;
  font-family: $oswald400;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $color-default-black;
  background-color: $color-bg-white;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 0 30px;
    max-width: 708px;
    align-items: center;
    justify-content: space-between;
    font-family: $oswald400;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: min-content min-content;
    justify-content: space-between;
    max-width: 1220px;
    min-height: 60px;
    padding: 53px 110px 20px;
    font-family: $oswald400;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}

.header__navigation-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 202px;
    margin: 0;
    padding: 0;
  }
}

.header__navigation-icon:nth-child(2) {
  padding-left: 47px;

  @media (min-width: $tablet-width) {
    padding-left: 12px;
  }
}

.header__navigation-slogan {
  @media (min-width: $tablet-width) {
    height: 21px;
  }
}

.header__navigation-menu {
  position: relative;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 440px;
    margin-right: 40px;
    color: $color-bg-white;
    z-index: 1;
  }

  &--catalog,
  &--form {
    color: $color-default-black;
  }
}

//Меню навигации\\
.header__navigation-list {
  @media (min-width: $mobile-width) {
    @include list-reset;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    @include list-reset;
    width: 440px;
    min-height: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 481px;
  }
}

//окно меню скрыто, JS включён\\
.header__navigation-menu--active .header__navigation-toggle {
  position: absolute;
  display: block;
  width: 24px;
  height: 20px;
  border: 0;
  transform: translate(275px, -40px);
  background: url("../img/svg/nav_cross.svg");
  background-repeat: no-repeat;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__navigation-menu--inactive .header__navigation-toggle {
  position: absolute;
  display: block;
  width: 24px;
  height: 20px;
  border: 0;
  transform: translate(275px, -40px);
  background: url("../img/svg/nav_hamburger.svg");
  background-repeat: no-repeat;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__navigation-menu--active .header__navigation-list {
  @media (min-width: $mobile-width) {
    position: absolute;
    display: flex;
    background-color: $color-bg-white;
    width: 320px;
    animation: nav_animation 0.6s;
    z-index: 1;

    @keyframes nav_animation {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }

  @media (min-width: $tablet-width) {
    @include list-reset;
    position: initial;
    width: 440px;
    min-height: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 481px;
    background: initial;
  }
}

//окно меню скрыто, JS включён\\
.header__navigation-menu--inactive .header__navigation-list {
  @media (min-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    @include list-reset;
    width: 440px;
    min-height: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 481px;
  }
}

//окно меню открыто в потоке, JS отключён\\
.header__navigation-menu--nojs .header__navigation-toggle {
  display: none;
}

.header__navigation-menu--nojs .header__navigation-list {
  @media (min-width: $mobile-width) {
    @include list-reset;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    @include list-reset;
    width: 440px;
    min-height: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 481px;
  }
}

.header__navigation-link {
  display: block;
  color: inherit;
  padding: 22px 20px 24px;
  border-top: 1px solid $color-border-list;

  @media (min-width: $tablet-width) {
    padding: 10px 0;
    position: relative;
    border: none;

    &--checked::before {
      position: absolute;
      height: 2px;
      bottom: 1px;
      left: 0;
      right: 0;
      background-color: $color-bg-green;
      content: "";

      @media (min-width: $desktop-width) {
        background-color: $color-bg-white;
      }
    }
  }
}

.header__navigation-link--catalog-checked::before {
  @media (min-width: $desktop-width) {
    position: absolute;
    height: 2px;
    bottom: 1px;
    left: 0;
    right: 0;
    background-color: $color-bg-green;
    content: "";
  }
}

.header__navigation-link--form-checked::before {
  @media (min-width: $desktop-width) {
    position: absolute;
    height: 2px;
    bottom: 1px;
    left: 0;
    right: 0;
    background-color: $color-bg-green;
    content: "";
  }
}
