.input {
  font-family: $oswald400;
  padding: 0 15px;
  text-transform: uppercase;
  color: $color-desc;
  border: 1px solid $color-border-list6;
  box-sizing: border-box;

  &:hover {
    border-color: $color-border-list4;
  }

  &:focus {
    border-color: $color-desc;
  }
}
