.main-catalog__wrapper {
  width: 280px;
  margin: 0 auto;
  background-color: $color-bg-white;
  color: $color-default-black;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin-bottom: 20px;
    margin-top: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

.main-catalog__caption {
  @include reset;
  padding: 27px 0 58px;
  font-family: $oswald400;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  &::before {
    position: absolute;
    width: 320px;
    height: 1px;
    background: $color-border-list2;
    transform: translate(-20px, -31px);
    content: "";

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 166px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.main-catalog__list {
  @include list-reset;
  display: grid;

  @media (min-width: $tablet-width) {
    display: grid;
    width: 708px;
    grid-template-columns: 325px 325px;
    column-gap: 60px;
    row-gap: 98px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 95px;
  }
}

.main-catalog__item {
  display: grid;
  grid-template-columns: 140px 140px;
  row-gap: 15px;
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 252px;
    height: 390px;
    padding: 0 39px 39px;
    row-gap: 0;
    background-color: $color-bg-gray;

    &:last-child {
      display: block;
      border: 2px solid $color-bg-gray;
      background-color: $color-bg-white;
    }

    @media (min-width: $desktop-width) {
      width: 180px;
      height: 430px;
      padding: 0 30px 0 35px;
      align-items: center;
    }
  }

  &::before {
    position: absolute;
    width: 320px;
    height: 1px;
    margin-top: 12px;
    background: $color-border-list3;
    transform: translate(-20px, -31px);
    content: "";

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.main-catalog__link-pic {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    width: 161px;
    min-height: 161px;
  }

  @media (min-width: $tablet-width) {
    width: 172px;
  }
}

.main-catalog__image {
  @media (min-width: $tablet-width) {
    position: absolute;
    transform: translate(41px, -46px);
  }

  @media (min-width: $desktop-width) {
    transform: translate(1px, -51px);
  }
}

.main-catalog__image--pro {
  @media (min-width: $tablet-width) {
    transform: translate(41px, -72px);
  }

  @media (min-width: $desktop-width) {
    transform: translate(1px, -81px);
  }
}

.main-catalog__link-title {
  grid-column: 2 / 3;

  @media (min-width: $tablet-width) {
    display: block;
    margin-bottom: 15px;
    align-self: center;
  }
}

.main-catalog__table {
  font-size: 12px;
  line-height: 16px;
  grid-column: 2 / 3;
  border-spacing: 0;

  @media (min-width: $tablet-width) {
    width: 246px;
    height: 80px;
    margin-bottom: 27px;
    font-family: $lato400;
    font-size: 16px;
    line-height: 16px;
    color: $color-desc;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}

.main-catalog__count {
  text-align: end;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $color-border-list4;
  }
}

.main-catalog__data {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $color-border-list4;
  }
}

.main-catalog__row {
  @media (min-width: $tablet-width) {
    height: 30px;
  }

  @media (min-width: $tablet-width) {
    height: 32px;
  }
}

.main-catalog__button {
  font-size: 16px;
  line-height: 20px;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    justify-self: stretch;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}

.main-catalog__title {
  @include title;
  font-family: $oswald400;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-title2;

  @media (min-width: $mobile-width) {
    display: block;
    width: 76px;
    text-align: left;
  }

  @media (min-width: $tablet-width) {
    display: block;
    text-align: center;
    width: 145px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 130px;
    font-size: 20px;
    line-height: 21px;
  }
}
