.main-catalog {
  background-color: $color-bg-white;
  color: $color-default-black;
}

.main-catalog__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-bottom: 76px;
  }
}

.main-catalog__caption {
  @include reset;
  padding: 27px 0;
  margin-bottom: 27px;
  font-family: $oswald400;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  &::before {
    position: absolute;
    width: 320px;
    height: 1px;
    background: $color-border-list2;
    transform: translate(-20px, -31px);
    content: "";

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 65px;
    margin-bottom: 82px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.main-catalog__list {
  @include list-reset;
  margin-bottom: 50px;
  display: grid;
  row-gap: 25px;

  @media (min-width: $tablet-width) {
    display: grid;
    width: 708px;
    grid-template-columns: 325px 325px;
    grid-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 63px;
  }
}

.main-catalog__item {
  display: grid;
  grid-template-columns: 140px 140px;
  row-gap: 14px;
  padding-top: 11px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 252px;
    min-height: 390px;
    padding: 0 39px 39px;
    row-gap: 0;
    background-color: $color-bg-gray;

    &:last-child {
      display: block;
      background-color: $color-bg-white;
    }

    @media (min-width: $desktop-width) {
      width: 180px;
      min-height: 430px;
      padding: 0 30px 40px 35px;
    }
  }

  &::before {
    position: absolute;
    width: 320px;
    height: 1px;
    background: $color-border-list3;
    transform: translate(-20px, -31px);
    content: "";

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.main-catalog__link-pic {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }
}

.main-catalog__link-title {
  grid-column: 2 / 3;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }
}

.main-catalog__table {
  font-size: 12px;
  line-height: 16px;
  grid-column: 2 / 3;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    justify-self: stretch;
    font-family: $lato400;
    font-size: 16px;
    line-height: 16px;
    color: $color-desc;
  }
}

.main-catalog__button {
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    justify-self: stretch;
  }
}

.main-catalog__title {
  @include title;
  font-family: $oswald400;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-title2;

  @media (min-width: $mobile-width) {
    display: block;
    width: 76px;
    text-align: left;
  }

  @media (min-width: $tablet-width) {
    display: block;
    text-align: center;
    width: 145px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 130px;
    font-size: 20px;
    line-height: 21px;
  }
}
