.map-invitation__source {
  display: block;
  margin: 0 auto;
  border: 0;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 1440px;
    height: 400px;
  }
}
