.offer__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    width: 1220px;
    grid-template-columns: min-content min-content min-content;
    margin-bottom: 82px;
  }
}

.offer__review {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 320px;
  min-height: 302px;
  background: rgba(104, 183, 56, 0.85);

  @media (min-width: $tablet-width) {
    width: 768px;
    min-height: 260px;
    background: $color-default-white;
  }

  @media (min-width: $desktop-width) {
    width: 610px;
  }
}

.offer__title {
  @include title;
  font-family: $oswald400;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding-top: 27px;
  margin-bottom: 25px;
  color: $color-default-white;

  @media (min-width: $tablet-width) {
    color: $color-default-black;
  }
}

.offer__about {
  @include title;
  font-family: $oswald400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 29px;
  color: $color-default-white;

  @media (min-width: $tablet-width) {
    color: $color-default-black;
  }
}

//Пока нет картинки резерв места //
.offer__logo {
  height: 270px;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 609px;
    background: $color-default-white;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    background: $color-bg-green;
  }
}

.offer__button {
  width: 280px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    grid-row: 2 / 3;
  }
}
