.offer__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
    display: grid;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    width: 1220px;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content;
    margin-bottom: 267px;
  }
}

.offer__review {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 320px;
  min-height: 302px;
  background: rgba(104, 183, 56, 0.85);

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    width: 420px;
    min-height: 181px;
    margin: 62px 80px 49px;
    background: $color-default-white;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 420px;
    z-index: 2;
    margin: 0;
  }
}

.offer__title {
  @include title;
  font-family: $oswald400;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding-top: 27px;
  margin-bottom: 25px;
  color: $color-default-white;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
    padding: 0;
    color: $color-default-black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

.offer__about {
  @include title;
  font-family: $oswald400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 29px;
  color: $color-default-white;

  @media (min-width: $tablet-width) {
    color: $color-default-black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
}

//Пока нет картинки резерв места //
.offer__logo {
  height: 270px;

  @media (min-width: $tablet-width) {
    display: block;
    width: 708px;
    height: 609px;
    background: $color-default-white;
    transform: translateY(-54px);
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    background: $color-bg-white;
    transform: translate(530px, 127px);
    z-index: 1;
    position: absolute;
  }
}

.offer__button {
  width: 280px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    grid-row: 2 / 3;
    margin-left: 80px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    grid-row: 2 / -2;
  }
}
