.offer__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
    display: grid;
    margin-bottom: 506px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 1220px;
    margin-left: 190px;
    margin-bottom: 265px;
  }
}

.offer__review {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 320px;
  min-height: 302px;
  background-color: rgba(104, 183, 56, 0.85);

  &::after {
    position: absolute;
    width: 320px;
    height: 302px;
    background-image: url("../img/jpg/background-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    content: "";

    @media (min-resolution: 2dppx) {
      background-image: url("../img/jpg/background-mobile@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      margin-left: 0;
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: inherit;
      width: 720px;
      height: 694px;
      background-image: url("../img/jpg/background-desktop.jpg");
      opacity: 0.2;
      background-repeat: no-repeat;
      background-size: cover;
      transform: translate(530px, -456px);

      @media (min-resolution: 2dppx) {
        background-image: url("../img/jpg/background-desktop@2x.jpg");
      }
    }
  }

  @media (min-width: $tablet-width) {
    display: block;
    width: 420px;
    min-height: 181px;
    margin: 51px 88px 22px;
    background: $color-default-white;
  }

  @media (min-width: $desktop-width) {
    margin: 85px 0 52px;

    &::before {
      position: absolute;
      transform: translate(530px, -225px);
      width: 720px;
      height: 694px;
      background: $color-bg-green;
      content: "";
    }
  }
}

.offer__picture {
  position: absolute;
  transform: translateY(170px);

  @media (min-width: $tablet-width) {
    transform: translateY(379px);
    background: $color-bg-white;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    background: none;
    transform: translate(366px, -316px);
  }
}

.offer__title {
  @include title;
  font-family: $oswald400;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding-top: 27px;
  margin-bottom: 25px;
  color: $color-default-white;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    padding: 0;
    color: $color-default-black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

.offer__about {
  @include title;
  font-family: $oswald400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 29px;
  color: $color-default-white;

  @media (min-width: $tablet-width) {
    color: $color-default-black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.offer__button {
  margin-top: 138px;
  width: 280px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    grid-row: 2 / 3;
    width: 244px;
    height: 54px;
    margin-left: 90px;
    margin-top: 0;
    font-size: 20px;
    line-height: 20px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
  }
}
