$second-font: "Lato", sans-serif;
$color-white: #ffffff;


//FONTS//
$oswald400: "Oswald", "Arial", sans-serif;
$lato400: "Lato", "Arial", sans-serif;

//COLORS//

//background//
$color-bg-white: #ffffff;
$color-bg-gray: #f2f2f2;
$color-bg-grey: #eaeaea;
$color-bg-green: #68b738;

//text//
$color-default-black: #000000;
$color-default-white: #ffffff;
$color-title1: #111111;
$color-title2: #222222;
$color-desc: #444444;

//Borders//
$color-border-list: #e6e6e6;
